<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs in Shar Mal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../job.css">
</head>
<body>
    <nav>
        <div class="left">
            <i class="fa-solid fa-angle-left" onclick="window.history.back()"></i>
            <a href="">Shar Mal</a>
        </div>
        <div class="search">
            <form action="" method="post">
                <input name="q" required type="text" placeholder="Search job">
                <i class="fa-solid fa-xmark clear"></i>
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <a href="javascript:csearch()">close</a>
        </div>
        <div class="right">
            <a href="javascript:ssearch()" class="searchbtn"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="javascript:spop('localhost/jobs')" title="Scan"><i class="fa-solid fa-qrcode"></i></a>
            <a href="javascript:window.location.reload()" title="Reload"><i class="fa-solid fa-rotate-right"></i></a>
            <a href="javascript:shar()" title="Share"><i class="fa-solid fa-share"></i></a>
            <a href="javascript:smenu()" class="menubtn"><i class="fa-solid fa-bars"></i></a>
        </div>
    </nav>
    <div class="body">
        <div class="menu">
            <span onclick="cmenu()">close</span>
            <h3>Category</h3>
            <a href=""><p>Office</p><i class="fa-solid fa-angle-right"></i></a>
            <a href=""><p>Translate</p><i class="fa-solid fa-angle-right"></i></a>
            <a href=""><p>Carrier</p><i class="fa-solid fa-angle-right"></i></a>
        </div>
        <div class="home">
            <div class="b">
                <p>Filter with region</p>
                <select class="">
                    <option value="all">All region</option>
                    <option value="muse">Muse</option>
                    <option value="namkham">Nam Kham</option>
                    <option value="ruili">Ruili</option>
                </select>
            </div>
            <div class="list">
                <%all.forEach((item)=>{%>
                    <div class="item">
                        <div class="preview">
                            <img onerror="this.remove()" src="<%=item.preview1%>" alt="">
                            <img onerror="this.remove()" src="<%=item.preview2%>" alt="">
                            <img onerror="this.remove()" src="<%=item.preview3%>" alt="">
                        </div>
                        <div class="content">
                            <div class="number"><%=item.number%></div>
                            <h1><%=item.title%></h1>
                            <p><%=item.des%></p>
                            <div class="des">
                                <p><%=item.gender%></p>
                                <a href="javascript:spop('localhost/jobs/<%=item.jobid%>')"><i class="fa-solid fa-qrcode"></i></a>
                                <a href="javascript:shar('<%=item.title%>','/jobs/<%=item.jobid%>')"><i class="fa-solid fa-share-nodes"></i></a>
                                <button onclick="window.location.href='jobs/<%=item.jobid%>'">Visit<i class="fa-solid fa-up-right-from-square"></i></button>
                            </div>
                            <div class="box">
                                <p>Category : <%=item.category%></p>
                                <p>Location : <%=item.location%></p>
                                <p>Post date : <%=item.postdate%></p>
                                <p>Expired date : <%=item.expiredate%></p>
                            </div>
                        </div>
                    </div>
                <%})%>
            </div>
        </div>
    </div>
    <div class="pop">
        <h1>Share <span>via QR Code</span></h1>
        <img src="" loading="lazy" alt="">
        <div class="popbtn">
            <a href=""><i class="fa-solid fa-cloud-arrow-down"></i>Download</a>
            <a href="javascript:cpop()">Close</a>
        </div>
    </div>
    <div class="totop" onclick="totop()"><i class="fa-solid fa-angle-up"></i><p>Top</p></div>
    <script>
        var clear = document.querySelector("form .clear");
        var inp = document.querySelector("form input");
        var menu = document.querySelector(".menu");
        var search = document.querySelector(".search");
        var totopdiv = document.querySelector(".totop");
        inp.onkeyup=()=>{
            if(inp.value.length > 0){
                clear.style.display = 'block'
            }else{
                clear.style.display = 'none'
            }
        }
        clear.onclick=()=>{inp.value='';clear.style.display='none'}
        function smenu(){menu.style.left='0'}
        function cmenu(){menu.style.left='-369px'}
        function ssearch(){search.style.top=0}
        function csearch(){search.style.top='-369px'}
        function totop(){window.scrollTo({top:0,behavior:"smooth"})}
        window.onscroll=function(){
            if(document.body.scrollTop>242 || document.documentElement.scrollTop>242){
                totopdiv.style.bottom = '15px'
            }else{
                totopdiv.style.bottom = '-369px'
            }
        }
        function shar(title,link){
            if(link){
                navigator.share({title:title,url:link})
            }else{
                navigator.share({title:'Find jobs online easily in Shar Mal',url:window.location.href})
            }
        }
        function cpop(){document.querySelector(".pop").style.top='100vh'}
        function spop(link){
            document.querySelector(".pop").style.top='0';
            document.querySelector(".pop img").src = 'https://maoapi.vercel.app/qrcode?text=' + link
        }
    </script>
</body>
</html>